{% from 'bootstrap/nav.html' import render_nav_item%}
<!DOCTYPE html>
<html lang="en">
<head>
    {{ bootstrap.load_css() }}
</head>
<body>
<main class="container justify-content-center">
    <nav class="navbar navbar-expand-xl navbar-light" style="background-color: #e3f2fd">
        <button class="navbar-toggler" type="button"data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{{url_for('index')}}">HOME</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {{ render_nav_item('userinfo', '使用者資訊')}}
                {{ render_nav_item('register', '註冊')}}
                {{ render_nav_item('login', '登入')}}
                {{ render_nav_item('logout', '登出')}}
            </ul>
        </div>
    </nav>
    {{ bootstrap.load_js() }}
</body>